.wrapper {
  width: 100%;
  margin: 0 0 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {

    font-weight: 500;
    font-size: 28px;
    letter-spacing: 0.25px;
  }

  .btnWrapper {
    display: flex;
  }
}